.wrapper
  .side-bar
    .side-bar__list マイページ
    .side-bar__list 支払い方法
    .side-bar__list 発送元・お届け先住所変更
    .side-bar__list 出品した商品ー出品中
    .side-bar__list 出品した商品ー売却済み
    .side-bar__list 購入した商品ー購入済み
    .side-bar__list ログアウト
  .main-contents
    .my-page
      .my-page__icon
    .notification-todo
      .notification
      .todo-list
      

      

    
