
  .cards-content {
    height: 600px;
    width: 700px;
    background-color: white;
    float: right;
    &__upper {
      height: 50px;
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #eeeeee;
      text-align: center;
    }
    &__lower {
      padding: 40px 40px 65px;
      height: 510px;
      &__wrapper {
        width: 350px;
        height: 100%;
        margin: 0 auto;
        &__group {
          height: 100px;
          &__name {
            width: 70px;
            height: 18px;
            font-size: 14px;
            display: inline-block;        
          }
          &__tag {
            background-color: red;
            font-size: 12px;
            margin: 0 0 0 8px;          
            width: 32px;
            height: 19px;
            text-align: center;
            color: white;
            border-radius: 2px;
          }
          &__form {
            height: 50px;
            width: 100%;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          &__logo {
            width: 45px;
            display: flex;
            object-fit: contain;
          }
        }
        &__expire {
          height: 100px;
          margin-top: 32px;
          &__name {
            width: 70px;
            height: 18px;
            font-size: 14px;
            display: inline-block;
          }
          &__tag {
            background-color: red;
            font-size: 12px;
            margin: 0 0 0 8px;          
            width: 32px;
            height: 19px;
            text-align: center;
            color: white;
            border-radius: 2px;
          }
          &__select {
            display: flex;
          }
            &__select-half {
              width: calc(50% - 2px);
              font-size: 14px;
              margin: 8px 0 0;
              &__select {
                width: calc(100% - 38px);
                height: 50px;
                background-color: white;
                font-size: 16px;
              }
            }
          }
        &__security {
          height: 100px;
          margin-top: 32px;
          &__name {
            width: 140px;
            height: 18px;
            font-size: 14px;
            display: inline-block;        
          }
          &__tag {
            background-color: red;
            font-size: 12px;
            margin: 0 0 0 8px;          
            width: 32px;
            height: 19px;
            text-align: center;
            color: white;
            border-radius: 2px;
          }
          &__form {
            height: 50px;
            width: 100%;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
        }
        &__add {
          height: 100px;
          background-color: white;
          position: relative;
          &__btn {
            background-color: red;
            height: 50px;
            width: 320px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            line-height: 50px;
            color: white;
          }
        }
      }
    }
  }