.user_session {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  .devise-header {
    height: 128px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__left {
      margin-top: 40px;
      &--logo {
        height: 50px;
        width: 200px;
      }
    }
    &__right {
    }
  }

  .main {
    background-color: #fff;
    width: 700px;
    min-height: calc(100vh - 348px);
    margin: 0 auto;
    .top {
      height: 97px;
      padding: 0 180px;
      text-align: center;
      h2 {
        font-size: 22px;
        font-weight: bold;
        line-height: 97px;
      }
      h6 {
        padding-top: 20px;
        font-size: 12px;
        font-weight: initial;
      }
      .registration_link {
        margin: 5px auto;
        &__btn {
          display: block;
          width: 100%;
          background-color: #ff9900;
          color: #fff;
          font-size: 14px;
          text-align: center;
          line-height: 36px;
          text-decoration: none;
        }
      }
    }
    .user_form {
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      margin: 0 163px;
      .field {
        margin-bottom: 24px;
        &__upper {
          display: flex;
          &__label {
            font-size: 14px;
            font-weight: bold;
          }
          &__required {
            background-color: #ea352d;
            color: #fff;
            font-size: 12px;
            border-radius: 2px;
            padding: 2px 4px;
            margin-left: 8px;
          }
          &__optional {
            background-color: #ccc;
            color: #fff;
            font-size: 12px;
            border-radius: 2px;
            padding: 2px 4px;
            margin-left: 8px;
          }
        }
        &__lower {
          width: 100%;
          display: flex;
          &__input {
            height: 48px;
            width: 100%;
            font-size: 16px;
            margin-top: 8px;
            padding: 10px 16px 8px;
            border: 1px solid #ccc;
            border-radius: 2px;
          }
          &__input-half {
            height: 48px;
            width: 50%;
            font-size: 16px;
            margin-top: 8px;
            padding: 10px 16px 8px;
          }
          &__input-date {
            height: 48px;
            width: 20%;
            font-size: 16px;
            margin-top: 8px;
            padding: 10px 16px 8px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 2px;
          }
          h5 {
            font-weight: initial;
            font-size: 14px;
            margin: 24px 8px 0;
          }
        }
      }
      .explanation {
        margin-bottom: 24px;
        &__upper {
          font-size: 16px;
          font-weight: bold;
        }
        &__lower {
          font-size: 14px;
        }
      }
      .actions {
        margin: 0 auto;
        .submit-btn {
          width: 100%;
          background-color: #3CCACE;
          color: #fff;
          font-size: 14px;
          text-align: center;
          line-height: 48px;
        }
      }
    }
  }

  .devise-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    &__upper {
      display: flex;
      justify-content: center;
      li {
        list-style: none;
        margin-left: 16px;
        a {
          text-decoration: none;
          color: #000;
          font-size: 12px;
        }
      }
    }
    &__lower {
      height: 40px;
      &--logo {
        display: block;
        margin: 40px auto 0;
        height: 50px;
        width: 200px;
      }
    }
  }
}
