.search-page {
  padding: 20px 0 50px;
  width: 1080px;
  margin: 0 auto;
  display: flex;
  .search-side {
    background-color: #fff;
    width: 280px;
    margin-right: 40px;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    .search_field {
      margin: 20px 0;
      &__label{
        font-size: 16px;
        font-weight: 600;
      }
      &__select {
        margin-top: 8px;
        select {
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
        }
      }
      &__input {
        margin-top: 8px;
        input {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
        }
      }
      &__check {
        font-weight: initial;
        font-size: 16px;
      }
      &__submit {
        display: block;
        background-color: #ea352d;
        color: #fff;
        width: 140px;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        margin: 20px auto;
      }
    }
  }
  .search-main {
    width: 800px;
    &__upper {
      font-size: 22px;
      margin-bottom: 8px;
    }
    &__lower {
      .search-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    .item-list {
      background-color: #fff;
      width: 160px;
      margin: 0 20px 20px 0;
      &__image {
        position: relative;
        img {
          object-fit: cover;
          height: 160px;
          width: 160px;
        }
      }
      .sold-sign {
        background-color: #ea352d;
        width: 160px;
        line-height: 24px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        z-index: 1;
        opacity: 0.9;
      }
      &__info {
        padding: 8px 12px;
      }
    }
  }
}