* {
  box-sizing: border-box;
}

@mixin errors {
  display: contents;
  input {
    border: 1px solid red;
  }
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color:#EEEEEE ;
  overflow: scroll;
  .header{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 200px;
      height: 50px;
      text-align: center;
    }
  }
  .main{
    width: 700px;
    margin: 0 auto;
    background-color: white;
    padding-top: 40px ;
    form ul {
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
      border: 1px solid #EAEBAB;
      background-color: #EAEBAB;
      color: red;
      li {
        list-style: none;
        padding: 5px 10px;
      }
    }
    .image-wrapper{
      width: 100%;
      padding-bottom: 40px;
      border-bottom: 1px solid #CCCCCC;
      &__label{
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      &__text{
        opacity: 0.8;
        font-size: 12px;
        margin-bottom: 15px;
        padding: 0 30px;
      }
      &__image{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 50px;
        #image-box__container {
          height: 170px;
          background-color: #EEEEEE;
          border: dashed 1px #cccccc;
          display: flex;
          flex-wrap: wrap;
          .input-area {
            width: 100%;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            label {
              cursor: pointer;
              display: block;
              padding-top: 75px;
              height: 100%;
              &:hover{
                opacity: 0.8;
                border: 3px solid #386de0;
              }
            }
          }
        }
        &__content{
          width: 100%;
          padding-top: 70px;
          font-size: 12px;
          text-align: center;
        }
      }
    }
    .item-wrapper{
      padding-bottom: 20px;
      border-bottom: 1px solid #CCCCCC;
      &__name{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      .field_with_errors {
        @include errors;
      }
      &__form{
        margin:0 0 20px 50px ;
        width: 600px;
        height: 40px;
        font-size: 16px;
        padding-left: 10px;
        border-radius: 4px;
      }
      &__description{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      .field_with_errors {
        @include errors;
      }
      &__area{
        margin: 0 0 10px 50px;
        width: 600px;
        font-size: 16px;
        padding: 10px;
        border-radius: 4px;
      }
      &__counter{
        font-size: 12px;
        text-align: right;
        margin-right: 30px ;
        opacity: 0.8;
      }
    }
    .item-detail{
      padding-bottom: 20px;
      border-bottom: 1px solid #CCCCCC;
      background-color: white;
      &__name{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        opacity: 0.5;
      }
      &__category{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      .field_with_errors {
        @include errors;
        select {
          border: 1px solid red;
        }
      }
      .listing-select-wrapper__box--select {
        margin: 20px;
        width: 600px;
        height: 50px;
        font-size: 16px;
        padding-left: 15px;
      }
      &__brand{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:#cccccc;
        }
      }
      &__form{
        margin: 10px 50px;
        width: 600px;
        height: 50px;
        font-size: 16px;
        padding-left: 15px;
        border-radius: 4px;
      }
      &__status{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      .field_with_errors {
        @include errors;
      }
      &__form {
        font-size: 16px;;
      }
    }
    .item-cost{
      padding-bottom: 20px;
      border-bottom: 1px solid #CCCCCC;
      background-color: white;
      &__about{
        font-size: 14px;
        opacity: 0.5;
        padding: 25px 0 0 25px;
      }
      &__name{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      .field_with_errors {
        @include errors;
        select {
          border: 1px solid red;
        }
      }
      &__burden{
        margin: 10px 25px;
        width: 600px;
        height: 50px;
        font-size: 16px;
        padding-left: 15px;
      }
      &__area{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
        .field_with_errors {
          @include errors;
        }
          &__form{
          margin: 10px 25px;
          width: 600px;
          height: 50px;
          font-size: 16px;
          padding-left: 15px;
        }
      }
      &__days{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      .field_with_errors {
        @include errors;
      }
      &__select{
        margin: 10px 25px;
        width: 600px;
        height: 50px;
        font-size: 16px;
        padding-left: 15px;
      }
    }
    .item-price{
      padding-bottom: 20px;
      background-color: white;
      &__about{
        opacity: 0.5;
        padding: 25px 0 0 25px;
        font-size: 14px;
      }
      &__name{
        font-weight: bold;
        font-size: 14px;
        margin: 20px 0 10px 25px;
        position: relative;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
        &__mark{
          margin-left: 300px ;
          position: absolute ;
          top: 10px;
        }
        &__form{
          text-align:right;
          float: right;
          margin-right: 50px;
          width: 200px;
          height: 40px;
          padding-right: 10px;
          font-size: 16px;
          border-radius: 4px;
        }
      }
      .field_with_errors {
        @include errors;
      }
      &__commission{
        font-size: 14px;
        margin: 50px 0 10px 25px;
        opacity: 0.8;
        &__value{
          float: right;
          margin-right: 50px;
        }
    }
      &__profit{
        font-size: 14px;
        margin: 40px 0 10px 25px;
        &__value{
          float: right;
          margin-right: 50px;
        }
      }
    }
    .item-exhibition{
      padding-bottom: 20px;
      border-bottom: 1px solid #CCCCCC;
      background-color: white;
      text-align: center;
      &__btn{
        height: 60px;
        width: 300px;
        font-size: 20px;
        border-radius: 5px;
        background-color:red;
        color: white;
        cursor: pointer;
        transition: 0.2s;
        &:active {
          transform: translateY(5px);
        }
        &:hover{
          opacity: 0.8;
        }
      }
      &__back{
        display: block;
        margin: 20px 0;
        a{
          text-decoration:none;
          color: #0095EE;
          font-size: 14px;
        }
        &:hover{
          opacity: 0.5;
        }
      }
      &__text{
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }
  .item-footer{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    li{
      float: left;
      margin:50px 0 0 20px ;
      opacity: 0.5;
      font-size: 12px;
      display: block;
    }
  }
  .item-logo{
    text-align: center;
    margin-bottom: 40px;
    img{
      width: 200px;
      height: 50px;
      margin: 0 auto;
    }
  }
}

.item-num-0,
.item-num-5{
  width: 600px;
}
.item-num-1,
.item-num-6{
  width: 480px;
}
.item-num-2,
.item-num-7{
  width: 360px;
}
.item-num-3,
.item-num-8{
  width: 240px;
}
.item-num-4,
.item-num-9{
  width: 120px;
}

.price-error {
  color: red;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 350px;
}

.item-image {
  border: dashed 1px #cccccc;
  background-color: #EEEEEE;
  &__content--icon {
    background-color: #fff;
    img {
      object-fit: contain;
    }
  }
  &__operetion {
    &--delete {
      cursor: pointer;
      height: 44px;
      text-align: center;
      line-height: 44px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

#image-box {
  padding: 0 40px;
  #previews {
    width: 580px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    img {
      margin: 5px 2px;
      border: 1px solid #ccc;
    }
  }
  .js-file_group {
    cursor: pointer;
    font-size: 14px;
    display: inline;
    input {
      cursor: pointer;
    }
    .js-remove {
      margin-right: 10px;
      border: 1px solid #ccc;
      padding: 5px;
      cursor: pointer;
    }
  }
}