.main-wrapper {
  background-color: #eeeeee;
  padding: 40px;
  .inner-wrapper {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    .side-bar {
      background-color: #ffffff;
      height: 100%;
      width: 280px;
      margin-right: 40px;
      &__list {
        height: 50px;
        width: 280px;
        border: solid 1px #eeeeee;
        padding: 0 16px;
        list-style: none;
        line-height: 50px;
        a {
          text-decoration: none;
          display: block;
        }
      }
      &__list:hover {
        background-color: #dddddd;
      }
    }
    .main-contents {
      width: 700px;
      .my-page {
        background-color: #ead9ff;
        height: 200px;
        position: relative;
        padding: 20px;
        &__user {
          height: 100px;
          position: absolute;
          top: 25%;
          right: 0;
          left: 0;
          &__icon {
            height: 50px;
          }
          &__name {
            font-size: 14px;
            margin: 8px 0 0;
            text-align: center;
          }
          &__number {
            display: flex;
            font-size: 14px;
            justify-content: center;
            &__item {
              margin: 0 0 0 16px;
            }
          }
        }
      }
      .notification-todo {
        background-color: #ffffff;
        height: 250px;
        text-align: center;
        .notification {
          float: left;
          width: 350px;
          height: 80px;
        }
        .todo-list {
          float: right;
          width: 350px;
          height: 80px;
        }
      }
      .logout-form {
        height: 150px;
        background-color: white;
        position: relative;
        &__btn {
          background-color: red;
          height: 50px;
          width: 320px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
          line-height: 50px;
          color: white;
          font-size: 14px;
        }
      }
    }
  }
}