<header class="header">
  <div class="header__main">
  </div>
  <div class="nav">
  </div>
</header>
<section class="top-image">
  <div class="top-image__contents">
  </div>
</section>
<section class="contents">
</section>
<section class="second-image">
</section>
<section class="feature">
</section>
<section class="products">
</section>
<section class="bottom-image">
</section>
<footer class="footer">
</footer>