<header class="header">
  <div class="header__main">
    <div class="header__main__top">
      <h1 class="header__main__top--title">
        <%= link_to image_tag("logo/logo.png"), "#" %>
      </h1>
      <div class="search-box">
        <form>
          <input type="text" class="search-box__text" placeholder="キーワードから探す">
          <input type="submit">
        </form>
      </div>
    </div>
    <div class="nav">
      <ul class="nav__left">
        <li><a href="#">商品一覧</a></li>
      </ul>
      <ul class="nav__right">
        <li><a href="#" class="nav__btn">ログイン</a></li>
        <li><a href="#">新規会員登録</a></li>
      </ul>
    </div>
  </div>
</header>
<section class="top-img">
  <div class="top-img__messages">
    <div class="top-img__messages--title"></div>
    <p class="top-img__messages--text"></p>
    <div class="top-img__messages--btn">
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
</section>
<section class="contents">
  <div class="content__title"></div>
  <ul>
    <li>
      <div></div>
        <span></span>
        <img src="">
      <div></div>
      <p></p>
    </li>
    <li>
      <div></div>
        <span></span>
        <img src="">
      <div></div>
      <p></p>
    </li>
    <li>
      <div></div>
        <span></span>
        <img src="">
      <div></div>
      <p></p>
    </li>
  </ul>
</section>
<section class="sec-img">
  <div class="sec-img__messages">
    <div class="sec-img__messages--title"></div>
    <p class="sec-img__messages--text"></p>
    <div class="sec-img__messages--btn">
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
</section>
<section class="feature">
  <div class="feature__title"></div>
  <div class="feature__contents">
    <div class="feature__contents__box">
      <div class="feature__contents__box--img">
        <img src="">
      <div></div>
      <p></p>
    </div>
  </div>
</section>
<section class="products">
  <div class="products-title"></div>
  <div class="products-box">
    <div class="products-box__sub-title"></div>
    <div class="products-box__lists">
      <div class=product-list>
        <a href="#"></a>
        <div class="product-list__img">
          <img src="">
        <div class="product-list__text">
          <ul>
            <li></li>
            <li></li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products">
  <div class="products-title"></div>
  <div class="products-box">
    <div class="products-box__sub-title"></div>
    <div class="products-box__lists">
      <div class=product-list>
        <a href="#"></a>
        <div class="product-list__img">
          <img src="">
        <div class="product-list__text">
          <ul>
            <li></li>
            <li></li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="display-btn">
  <a href="#">
  <span class="display-btn__text"></span>
  <img src="">
</div>
<section class="bottom-img">
  <div class="bottom-img__messages">
    <div class="bottom-img__messages--title"></div>
    <p class="bottom-img__messages--text"></p>
    <div class="bottom-img__messages--btn">
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
</section>
<footer class="footer">
  <ul class="footer-guide">
    <li>
      <div class="guide-title"></div>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>
    <li>
      <div class="guide-title"></div>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>
    <li>
      <div class="guide-title"></div>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>
  </ul>
  <div class="footer-logo">
    <a href="#"></a>
    <img src="">
  </div>
  <p></p>
</footer>