.main-page
  .items
    %h1.items__name samplesamplesamplesamplesamplesamplesamplesamplesample
    .items__contents
      .items__contents--image
        .image__main
          = link_to image_tag("sample1.png")
        %ul.image__lists
          %li.image
            = link_to image_tag("sample2.png")
          %li.image
            = link_to image_tag("sample3.png")
          %li.image
          %li.image
          %li.image
      .items__contents--info
        %table.items__contents--info--box
          %tr
            %th 出品者
            %td taichi
          %tr
            %th カテゴリー
            %td インナー
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品の状態
            %td 新品、未使用
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 配送の方法
            %td 普通郵便(定形、定形外)
          %tr
            %th 配送元地域
            %td 東京都
          %tr
            %th 発送日の目安
            %td 1~2日で発送