.wrapper {
  height: 1400px;
  width: 1020px;
  margin: 40px auto 0;
  background-color: #99ccff;
}
.side-bar {
  background-color: #ffff99;
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  &__list {
    height: 50px;
    width: 280px;
    border: solid 1px #eeeeee;
    padding: 16px;
  }
}
.main-contents {
  background-color: #ccff99;
  float: right;
  height: 900px;
  width: 700px;
  .my-page {
    background-color: #ead9ff;
    height: 200px;
  }
  .notification-todo {
    background-color: #ffffff;
    height: 250px;
    .notification {
      float: left;
      width: 350px;
      height: 80px;
    }
    .todo-list {
      float: right;
      width: 350px;
      height: 80px;
    }
  }
  .logout-form {
    height: 150px;
  }
}