.devise-footer
  %ul.devise-footer__upper
    %li.devise-footer__upper__list
      = link_to '#' do
        プライバシーポリシー
    %li.devise-footer__upper__list
      = link_to '#' do
        FRIMA利用規約
  = link_to root_path, class: 'devise-footer__lower' do
    = image_tag 'logo/logo-white.png', class: 'devise-footer__lower--logo'