.footer
  %ul.footer__upper
    %li.footer__upper__list
      = link_to '#' do
        プライバシーポリシー
    %li.footer__upper__list
      = link_to '#' do
        FRIMA利用規約
  = link_to root_path, class: 'footer__lower' do
    = image_tag 'logo/logo-white.png', class: 'footer__lower--logo'